.navbar {
  background-color: #c4e2eb77 !important;
}

.nav-link {
    font-size: larger;
  font-family: "Gloria Hallelujah", cursive;
  font-size: larger;
  color: #128cad!important;
}
body {
    background-color: #d3e7ed77;  
}
